html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr;
}

#envelope {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#triangle {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid lightgray;
}

#env-rec {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
}

#letter {
    grid-row: 2 / 5;
    grid-column: 4 / 5;
    background-color: white;
    box-shadow: 3px 5px 10px black;
}

#title {
    margin: 20px;
    padding: 0px 20px;
}

.text {
    padding: 10px;
}