body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eef6ff;
}

header {
  height: 120px;
  display: flex;
  flex-direction: row;
  background-color: #f06543;
  margin: 0px 20px;
}

.logo-link {
  width: 15%;
}

.logo {
  height: 100%;
  border: 1px solid black;
}

.nav-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.page-title {
  width: 100%;
  height: 60%;
}

nav {
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a,
.site-plan-link {
  font-size: 130%;
  text-decoration: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 40%;
  color: #313638;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-tab {
  background-color: #313638;
  color: #e0dfd5;
}

nav a:hover,
.site-plan-link:hover {
  background-color: #313638;
  color: #e0dfd5;
}

.home-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
}

.text-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-text {
  padding: 0px 10px;
  width: 70%;
}

.demo-image {
  width: 250px;
  height: 195px;
  margin: auto 20px;
}

footer {
  height: 100px;
  background-color: #f06543;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sub-page-grid {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr;
  grid-template-rows: 1fr repeat(6, 3fr);
  margin: 0px 20px;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
}

.selection-description {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  margin: 0;
  font-size: large;
  text-align: center;
}

.grid-img {
  width: 90%;
  height: auto;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px;
}

.grid-img:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 80%;
}

.modal img {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 5px;
}

.modal-content p {
  margin: 10px 0; /* Adjust if needed */
}

.close-btn {
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

#grid-2-1 {
  grid-row: 2;
  grid-column: 1;
}

#grid-2-2 {
  grid-row: 2;
  grid-column: 2;
}

#grid-2-3 {
  grid-row: 2;
  grid-column: 3;
}

#grid-2-4 {
  grid-row: 2;
  grid-column: 4;
}

#grid-3-1 {
  grid-row: 3;
  grid-column: 1;
}

#grid-3-2 {
  grid-row: 3;
  grid-column: 2;
}

#grid-3-3 {
  grid-row: 3;
  grid-column: 3;
}

#grid-3-4 {
  grid-row: 3;
  grid-column: 4;
}

#grid-4-1 {
  grid-row: 4;
  grid-column: 1;
}

#grid-4-2 {
  grid-row: 4;
  grid-column: 2;
}

#grid-4-3 {
  grid-row: 4;
  grid-column: 3;
}

#grid-4-4 {
  grid-row: 4;
  grid-column: 4;
}

#grid-5-1 {
  grid-row: 5;
  grid-column: 1;
}

#grid-5-2 {
  grid-row: 5;
  grid-column: 2;
}

#grid-5-3 {
  grid-row: 5;
  grid-column: 3;
}

#grid-5-4 {
  grid-row: 5;
  grid-column: 4;
}
