body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eef6ff;
}

header {
  height: 20%;
  display: flex;
  flex-direction: row;
  background-color: #f06543;
}

.logo {
  height: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  width: 100%;
  height: 60%;
}

nav {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a,
.site-plan-link {
  font-size: 130%;
  text-decoration: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 40%;
  color: #313638;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-tab {
  background-color: #313638;
  color: #e0dfd5;
}

nav a:hover,
.site-plan-link:hover {
  background-color: #313638;
  color: #e0dfd5;
}

.text-image-container {
  display: flex;
  flex-direction: row;
}

.home-text {
  padding: 0px 10px;
  width: 80%;
}

.demo-image {
  width: 15%;
}

footer {
  height: 100px;
  background-color: #f06543;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
